@model AgenciaDeViagens.ViewModel.AreaDoFuncionarioViewModel
<div class="container mt-3">
	<h1>Olá, @Model.Nome</h1>
	<hr />

	<h1>Quer registrar um novo pacote?</h1>
	<form method="post" asp-action="AdicionarPacote" enctype="multipart/form-data">
		<label asp-for="Titulo" class="mt-3"></label>
		<input asp-for="Titulo" class="form-control" />

		<label asp-for="Descricao" class="mt-3"></label>
		<input asp-for="Descricao" class="form-control" />

		<label asp-for="PrecoPorNoite" class="mt-3"></label>
		<input asp-for="PrecoPorNoite" class="form-control" />

		<label asp-for="TextoDaPagina" class="mt-3"></label>
		<input asp-for="TextoDaPagina" type="text-area" class="form-control" />


		<h5 class="mt-3 mb-2">Alguma data já ocupada?</h5>
		<label>Data inicial</label>
		<input type="date" class="form-control" name="DataInicial"/>
		
		<label class="mt-3">Data Final</label>
		<input type="date" class="form-control" name="DataFinal"/>

		<label class="mt-3">Fotos</label>
		<input name="imagens" type="file" accept="image/*" class="form-control" multiple/>


		<button type="submit" class="btn btn-success mt-3">Registrar</button>
	</form>
</div>
