@model AgenciaDeViagens.ViewModel.ReservarViewModel

<div class="container">
	<h1 class="ms-2">@Model.Titulo</h1>
	<hr />

	<section>
		<form method="post">

			<button type="submit" class="btn btn-primary">Calcular Preço Total</button>
		</form>
	</section>
</div>

