@model AgenciaDeViagens.ViewModel.RegisterAtendenteViewModel
@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <h4>Crie uma nova conta de funcionário.</h4>
        <hr />
        <div asp-validation-summary="All" style="color: red;"></div>

        <div>
            <label asp-for="Nome"></label><br />
            <input asp-for="Nome" />
        </div>
        <br />
        <div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
        </div>
        <br />
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
        </div>
        <br />
        <div>
            <label asp-for="ConfirmPassword"></label><br />
            <input asp-for="ConfirmPassword" />
        </div>
        <br />
        <div>
            <label asp-for="Departamento"></label><br />
            <input asp-for="Departamento" />
        </div>
        <br />
        <button type="submit" class="btn btn-success">Registrar</button>
    </form>
</div>
