@model AgenciaDeViagens.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-action="Register" method="post">
        <h4>Crie uma nova conta.</h4>
        <hr />
        <div asp-validation-summary="All" style="color: red;"></div>

        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
        </div>
        <br />
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
        </div>
        <br />
        <div>
            <label asp-for="ConfirmPassword"></label><br />
            <input asp-for="ConfirmPassword" />
        </div>
        <div>
            <label asp-for="Nome"></label><br />
            <input asp-for="Nome" />
        </div>
        <br />
        <div>
            <label asp-for="Telefone"></label><br />
            <input asp-for="Telefone" />
        </div>
        <br />
        <div>
            <label asp-for="Cpf"></label><br />
            <input asp-for="Cpf" />
        </div>
        <div>
            <label asp-for="Passaporte"></label><br />
            <input asp-for="Passaporte" />
        </div>
        <br />
        <button type="submit">Registrar</button>
    </form>
    <a asp-controller="Account" asp-action="RegisterAtendente" class="btn btn-primary">Fazer conta de atendente</a>
</div>
